@import 'colors';

.position-field-forms {
    .excluir {
        align-items: center;
        position: absolute;
        right: 35%;
        display: none;
        z-index: 10;

        form { 
            width: 25vw;
            padding: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 5px;

            h1 {
                font-size: 25px;
                font-weight: normal;
                color: rgb(3, 42, 72);
                margin-bottom: 30px;
            }

            div {
                width: 100%;
                margin-bottom: 30px;

                &::after {
                    content: '';
                    display: block;
                    height: 1px;
                    width: 100%;
                    background: rgba(201, 201, 201, 0.563);
                    border-radius: 10px;
                }

                label {
                    text-align: start;
                    margin-right: 10px;
                    color: #333;
                    font-size: 14px;
                }

                .input-text {
                    margin-top: 5px;
                    padding: 5px;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    width: 97%;

                    &::placeholder {
                        color: rgba(128, 128, 128, 0.522);
                    }
                }
            }

            .btn-submit-excluir {
                padding: 10px 30px;
                width: 100%;
                border-radius: 5px;
                border: none;
                cursor: pointer;
                margin-top: 5px;
                background: $thirdColor;
                color: white;
                font-weight: bold;

                &:hover {
                    transition: 1s;
                    background: $primaryColorField;
                }
                
                &:active {
                    transition: 0.1s;
                    background: black;
                }
            }
        }
    }
}