
* {
    margin: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    outline-color: #2eb5bb;
    text-decoration: none;
    box-sizing: border-box;
}

html,body {
    scroll-behavior: smooth;
}

body {
    background: white;
    overflow-x: hidden;
}

a {
    cursor: pointer;
}

ul {
    position: absolute;
    display: none;
    padding: 10px;

    li {
        margin: 20px;
    }
}
