.pop-up {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6901960784);
  position: absolute;
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pop-up .btn-exit {
  width: 60vw;
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}
.pop-up .btn-exit img {
  width: 3.5vw;
  cursor: pointer;
  padding: 17px;
  border-radius: 50%;
}
.pop-up .btn-exit img:hover {
  background: rgba(36, 149, 214, 0.4862745098);
  transition: 2s;
}
.pop-up .btn-exit img:active {
  background: rgba(128, 128, 128, 0.281);
}
.pop-up .field-pop-up {
  width: 50vw;
  height: 450px;
  background: #ededed;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pop-up .field-pop-up img {
  width: 23vw;
  padding: 15px;
}
.pop-up .field-pop-up div {
  width: 100%;
  height: 45%;
  background: #2494d6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0 0 10px 10px;
}
.pop-up .field-pop-up div p {
  width: 35vw;
  text-align: center;
  color: #e7e7e7;
}
.pop-up .field-pop-up div h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pop-up .field-pop-up div h1::after {
  content: "";
  display: block;
  height: 4px;
  width: 4.5vw;
  background: rgb(255, 183, 0);
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 20px;
}

* {
  margin: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  outline-color: #2eb5bb;
  text-decoration: none;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
}

body {
  background: white;
  overflow-x: hidden;
}

a {
  cursor: pointer;
}

ul {
  position: absolute;
  display: none;
  padding: 10px;
}
ul li {
  margin: 20px;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 150px;
}
.menu .position_menu {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.menu .position_menu .logo_menu {
  display: flex;
  align-items: center;
}
.menu .position_menu .logo_menu img {
  cursor: default;
  width: 90px;
}
.menu .position_menu .logo_menu #nome {
  font-weight: bolder;
  font-size: 17px;
  letter-spacing: 5px;
  margin-top: 10px;
  cursor: default;
  color: white;
}
.menu .btn_menu {
  display: flex;
  align-items: center;
  z-index: 99;
}
.menu .btn_menu a {
  font-size: 14px;
  padding: 7px 20px;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  color: white;
  z-index: 99;
}
.menu .btn_menu a:hover {
  border: 2px solid white;
  transition: all 0.5s;
}
.menu .btn_menu a:active {
  border: 2px solid rgb(0, 0, 0);
  color: black;
  font-weight: bold;
  transition: all 0.1s;
}
.menu .btn_menu li:hover > ul {
  display: block;
}
.menu .btn_menu #listar_dropdown {
  background: white;
  margin-left: 20px;
  font-weight: bold;
  color: #333;
}

.field-forms {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 900px;
  background: white;
  position: relative;
}
.field-forms .position-field-forms {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.field-forms .position-field-forms hr {
  border: none;
  width: 2px;
  height: 450px;
  margin-left: 45%;
  background: rgba(128, 128, 128, 0.16);
  margin-right: 100px;
}

.position-field-forms .field-dropdown-options {
  position: absolute;
  top: 90px;
  left: 5%;
  cursor: pointer;
}
.position-field-forms .field-dropdown-options .btn-options {
  padding: 7px 25px;
  background: #0089ff;
  color: white;
  border-radius: 15px;
}
.position-field-forms .field-dropdown-options .btn-options:hover {
  transition: 1s;
  opacity: 50%;
}
.position-field-forms .field-dropdown-options .btn-options:active {
  transition: 0.1s;
  opacity: 100%;
  background: #ec681b;
}
.position-field-forms .field-dropdown-options ul {
  z-index: 99;
}
.position-field-forms .field-dropdown-options ul li {
  color: #333;
  z-index: 99;
  cursor: pointer;
  padding: 7px 25px;
  border: 2px solid transparent;
  border-radius: 15px;
  margin: 10px;
}
.position-field-forms .field-dropdown-options ul li:hover {
  transition: 2s;
  color: #ec681b;
  font-weight: bold;
}
.position-field-forms > div {
  display: flex;
  align-items: center;
  margin-right: 4%;
}
.position-field-forms > div form {
  position: absolute;
  width: 30vw;
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  margin-bottom: 30px;
}
.position-field-forms > div form h1 {
  font-size: 25px;
  color: rgb(3, 42, 72);
  margin-bottom: 30px;
  font-weight: normal;
}
.position-field-forms > div form div {
  width: 100%;
  margin-bottom: 30px;
}
.position-field-forms > div form div::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: rgba(201, 201, 201, 0.563);
  border-radius: 10px;
}
.position-field-forms > div form div label {
  text-align: start;
  margin-right: 10px;
  color: #333;
  font-size: 14px;
}
.position-field-forms > div form div .input-text {
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 97%;
}
.position-field-forms > div form div .input-text::-moz-placeholder {
  color: rgba(128, 128, 128, 0.522);
}
.position-field-forms > div form div .input-text:-ms-input-placeholder {
  color: rgba(128, 128, 128, 0.522);
}
.position-field-forms > div form div .input-text::placeholder {
  color: rgba(128, 128, 128, 0.522);
}
.position-field-forms > div form .btn-submit {
  padding: 10px 30px;
  width: 100%;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 5px;
  background: #ec681b;
  color: white;
  font-weight: bold;
}
.position-field-forms > div form .btn-submit:hover {
  transition: 1s;
  background: #0089ff;
}
.position-field-forms > div form .btn-submit:active {
  transition: 0.1s;
  background: black;
}
.position-field-forms > div form h5 {
  margin-top: 30px;
  font-size: 20px;
  font-weight: normal;
  color: #007200;
}
.position-field-forms > div form:nth-child(2) {
  display: none;
}
.position-field-forms > div form:nth-child(3) {
  display: none;
}
.position-field-forms p {
  width: 55%;
  display: flex;
  align-items: center;
  color: rgba(51, 51, 51, 0.692);
  font-size: 15px;
}

.field-lists {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.field-lists .listar:nth-child(2) {
  margin-top: 100px;
}
.field-lists .listar {
  width: 70vw;
  height: auto;
  display: none;
  background: none;
  box-shadow: none;
}
.field-lists .listar > div {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.field-lists .listar > div div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.field-lists .listar > div div .tabela {
  text-align: start;
  margin-bottom: 15px;
  color: #565656;
  font-weight: bolder;
  font-size: 30px;
  margin-left: 70px;
}
.field-lists .listar > div div .btn-ocultar {
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
  color: #008eff;
}
.field-lists .listar > div table {
  width: 100%;
  margin-bottom: 100px;
}
.field-lists .listar > div table tr {
  filter: drop-shadow(0 10px 15px rgba(128, 128, 128, 0.467));
}
.field-lists .listar > div table tr th {
  color: white;
  padding: 10px 40px;
  background: #008eff;
  border-radius: 5px;
}
.field-lists .listar > div table tr td {
  color: gray;
  text-align: center;
  padding: 10px 40px;
  background: white;
  border-radius: 5px;
  font-size: 15px;
}

footer {
  background: linear-gradient(360deg, #001824, #000000);
}
footer::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(128, 128, 128, 0.6);
}
footer .footer_position {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 300px;
}
footer .footer_position a {
  font-size: 15px;
  text-decoration: none;
  color: #c5c5c5;
}
footer .footer_position a:hover {
  color: white;
  transition: 1s;
}
footer .footer_position p {
  margin: 20px 0px;
  font-size: 13px;
  color: #9b9b9b;
}
footer .footer_position .btn_txt {
  display: flex;
  width: 500px;
  justify-content: space-around;
}
footer .footer_position .btn_rodape {
  width: 100%;
  display: flex;
  justify-content: center;
}
footer .footer_position .btn_rodape div {
  width: 210px;
  display: flex;
  justify-content: space-around;
}
footer .footer_position .btn_rodape div input {
  width: 30px;
  border-radius: 2px;
  margin-bottom: 30px;
}
footer .footer_position .btn_rodape div input:hover {
  background: #3fa5b1;
  transition: 1s;
}

.field-sobre {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  background: #00283d;
  position: relative;
}
.field-sobre .position-field-sobre {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.field-sobre .position-field-sobre h1 {
  color: white;
  margin-bottom: 30px;
}
.field-sobre .position-field-sobre h1::after {
  content: "";
  display: block;
  width: 80px;
  height: 5px;
  border-radius: 10px;
  background: white;
  margin-top: 5px;
}
.field-sobre .position-field-sobre div {
  display: flex;
  align-items: center;
  width: 40%;
  padding: 15px;
  border-top: 1px solid rgba(128, 128, 128, 0.1);
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  margin-bottom: 15px;
}
.field-sobre .position-field-sobre div img {
  width: 25px;
  opacity: 70%;
  margin-right: 10px;
}
.field-sobre .position-field-sobre div p {
  color: rgba(255, 255, 255, 0.684);
}
.field-sobre .position-field-sobre p {
  width: 45%;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.3058823529);
}
.field-sobre .position-field-sobre #btn-cadastrar {
  font-size: 20px;
  margin-top: 30px;
  font-weight: bold;
  color: #3fa5b1;
  text-decoration: underline;
}
.field-sobre .position-field-sobre #gif-planeta {
  position: absolute;
  right: -20%;
  bottom: 0;
  width: 950px;
  filter: drop-shadow(0 0 115px rgb(0, 65, 117));
}

.landing-page {
  width: 100%;
  height: 100vh;
  background: url(https://i.postimg.cc/rwtPQMfY/Sem-T-tulo-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing-page .field-landing-page {
  width: 60%;
  margin-top: 70px;
}
.landing-page .field-landing-page h1:nth-child(1) {
  color: white;
  font-size: 35px;
}
.landing-page .field-landing-page h1:nth-child(2) {
  color: white;
  font-size: 70px;
}
.landing-page .field-landing-page a {
  background: white;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  margin-top: 15px;
  border-radius: 7px;
  font-weight: bold;
  color: #214c66;
}
.landing-page .field-landing-page a:hover {
  transition: 1s;
  background: rgba(255, 255, 255, 0.248);
  color: white;
}
.landing-page .field-landing-page #img-aluna {
  position: absolute;
  bottom: 0;
  right: 12vw;
  width: 45vw;
  z-index: 2;
}
.landing-page .field-landing-page #img-vetor-footer {
  position: absolute;
  bottom: 0;
  right: 25%;
  width: 80%;
  height: 30%;
  z-index: 1;
}

.btn-top {
  position: fixed;
  right: 2vw;
  top: 88vh;
  background: #444444;
  padding: 12px 10px;
  border-radius: 5px;
  z-index: 100;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
}
.btn-top img {
  width: 17px;
}

.position-field-forms .excluir {
  align-items: center;
  position: absolute;
  right: 35%;
  display: none;
  z-index: 10;
}
.position-field-forms .excluir form {
  width: 25vw;
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}
.position-field-forms .excluir form h1 {
  font-size: 25px;
  font-weight: normal;
  color: rgb(3, 42, 72);
  margin-bottom: 30px;
}
.position-field-forms .excluir form div {
  width: 100%;
  margin-bottom: 30px;
}
.position-field-forms .excluir form div::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: rgba(201, 201, 201, 0.563);
  border-radius: 10px;
}
.position-field-forms .excluir form div label {
  text-align: start;
  margin-right: 10px;
  color: #333;
  font-size: 14px;
}
.position-field-forms .excluir form div .input-text {
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 97%;
}
.position-field-forms .excluir form div .input-text::-moz-placeholder {
  color: rgba(128, 128, 128, 0.522);
}
.position-field-forms .excluir form div .input-text:-ms-input-placeholder {
  color: rgba(128, 128, 128, 0.522);
}
.position-field-forms .excluir form div .input-text::placeholder {
  color: rgba(128, 128, 128, 0.522);
}
.position-field-forms .excluir form .btn-submit-excluir {
  padding: 10px 30px;
  width: 100%;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 5px;
  background: #ec681b;
  color: white;
  font-weight: bold;
}
.position-field-forms .excluir form .btn-submit-excluir:hover {
  transition: 1s;
  background: #0089ff;
}
.position-field-forms .excluir form .btn-submit-excluir:active {
  transition: 0.1s;
  background: black;
}

#consultar {
  display: none;
}
#consultar form {
  width: 32vw;
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  margin-bottom: 200px;
}
#consultar form h1 {
  font-size: 25px;
  font-weight: normal;
  color: #333;
  margin-bottom: 30px;
}
#consultar form div {
  width: 100%;
  margin-bottom: 30px;
}
#consultar form div::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: rgba(201, 201, 201, 0.563);
  border-radius: 10px;
}
#consultar form div label {
  text-align: start;
  margin-right: 10px;
  color: #333;
  font-size: 14px;
}
#consultar form div .input-text {
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 97%;
}
#consultar form div .input-text::-moz-placeholder {
  color: rgba(128, 128, 128, 0.522);
}
#consultar form div .input-text:-ms-input-placeholder {
  color: rgba(128, 128, 128, 0.522);
}
#consultar form div .input-text::placeholder {
  color: rgba(128, 128, 128, 0.522);
}
#consultar form .btn-submit-consultar {
  padding: 10px 30px;
  width: 100%;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 5px;
  background: #ec681b;
  color: white;
  font-weight: bold;
}
#consultar form .btn-submit-consultar:hover {
  transition: 1s;
  background: #0089ff;
}
#consultar form .btn-submit-consultar:active {
  transition: 0.1s;
  background: black;
}
#consultar table {
  width: 45%;
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 99;
}
#consultar table tr {
  filter: drop-shadow(0 10px 15px rgba(128, 128, 128, 0.467));
}
#consultar table tr th {
  color: white;
  padding: 10px 40px;
  background: #008eff;
  border-radius: 5px;
}
#consultar table tr td {
  color: gray;
  text-align: center;
  padding: 10px 40px;
  background: white;
  border-radius: 5px;
  font-size: 15px;
}/*# sourceMappingURL=main.css.map */